body {
  overflow-x: hidden;
}

.landing {
  background-image: url(../img/005.jpg);
  background-size: 100%;
  background-clip: border-box;
  background-repeat: no-repeat;
  height: 100vh;
}
.landing .buy-toggle {
  border-radius: 20px;
  border-top-left-radius: 0;
  border: 2px solid #ed6436;
  transition: 0.4s;
}
.landing .buy-toggle:hover {
  background-color: #ed6436;
  color: white;
}
.landing > section > .logo {
  height: 100px;
}
.landing > section > div > nav > ul {
  list-style: none;
}
.landing > section > div > nav > ul > li {
  width: 100px;
}
.landing > section > div > nav > ul > li > a {
  transition: 0.4s;
}
.landing > section > div > nav > ul > li > a:hover {
  color: #ed6436 !important;
}
.landing > section > div > nav > ul > .sub-menu > ul {
  display: none;
  list-style: none;
}
.landing > section > div > nav > ul > .sub-menu > ul > li {
  transition: 0.5s;
  border-radius: 20px;
}
.landing > section > div > nav > ul > .sub-menu > ul > li:hover {
  background-color: #ed6436;
}
.landing > section > div > nav > ul > .sub-menu > ul > li:hover > a {
  color: white !important;
}
.landing > section > div > nav > ul > .sub-menu:hover > ul {
  display: flex;
}
.landing .head-bottom > div > h1,
.landing .head-bottom > div > p {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  margin-top: -10px;
}
@media screen and (min-width: 992px) {
  .landing .head-bottom > div > h1 {
    font-size: 60px;
  }
  .landing .head-bottom > div > p {
    font-size: 20px;
  }
}
@media screen and (max-width: 992px) {
  .landing .head-bottom > div > h1 {
    font-size: 24px;
  }
  .landing .head-bottom > div > p {
    font-size: 16px;
  }
}

.toggle > .togg1,
.toggle > .togg2 {
  border: 3px #ed6436 solid;
  border-radius: 20px;
  border-top-left-radius: 0;
  transition: 0.4s;
}
.toggle > .togg1 > a,
.toggle > .togg2 > a {
  font-weight: bold;
}
.toggle > .togg1 {
  background-color: #ed6436;
}
.toggle > .togg1 > a {
  color: white;
}
.toggle > .togg1:hover {
  background-color: transparent;
}
.toggle > .togg1:hover > a {
  color: black;
}
.toggle > .togg2 > a {
  color: black;
}
.toggle > .togg2:hover {
  background-color: #ed6436;
}
.toggle > .togg2:hover > a {
  color: white;
}

.second-page > div > div > h1 > span {
  color: #ed6436;
}
.second-page .cont-span > span {
  transition: 0.4s;
}
.second-page .cont-span > span:hover {
  color: #ed6436;
}

.page-4 > .row > .count-svg > svg {
  transform: scale(1.6);
}
.page-4 > .row > .count-text > div {
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.566);
  transition: 0.4s;
  padding: 10px;
  position: relative;
}
.page-4 > .row > .count-text > div:hover {
  letter-spacing: 3px;
}
.page-4 > .row > .count-text > div:hover::after {
  border-top: 2px solid #ed6436;
  border-bottom: 2px solid #ed6436;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.page-4 > .row > .count-text > div::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.4s;
}

.page-5 > .row > .row > h2 {
  font-size: 45px;
  box-shadow: 0px 8px 20px 2px black;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
}
.page-5 > .row > .row > h2::after {
  position: absolute;
  content: "have time to buy";
  text-transform: capitalize;
  font-style: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: -110%;
  left: 0;
  color: #ed6436;
  transition: 0.4s;
}
.page-5 > .row > .row > h2:hover {
  box-shadow: none;
  color: rgba(237, 100, 54, 0);
}
.page-5 > .row > .row > h2:hover::after {
  top: 0;
}
.page-5 #countdown ul {
  list-style-type: none;
}
.page-5 #countdown ul > li {
  border-right: 2px solid rgba(0, 0, 0, 0.404);
  font-size: 25px !important;
}
@media screen and (max-width: 992px) {
  .page-5 #countdown ul > li {
    font-size: 20px !important;
  }
}
.page-5 .icon > a {
  width: 110px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
}
@media screen and (max-width: 992px) {
  .page-5 .icon > a {
    width: 80px;
    height: 80px;
  }
}
.page-5 .icon > a > img {
  width: 100%;
  height: 80%;
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(237, 100, 54, 0.6823529412);
  transition: 0.4s;
}
.page-5 .icon > a > img:hover {
  background-color: #ed6436;
}
.page-5 .bone {
  position: relative;
  transition: 0.4s;
  width: 200px;
}
.page-5 .bone:hover {
  transform: rotate(10deg);
}
.page-5 .bone::after {
  content: "+98 090200011122";
  position: absolute;
  width: 180px;
  height: 50%;
  top: 20%;
  left: 3%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.gallery .card {
  box-shadow: 2px 2px 10px black, -2px -2px 10px black;
  border-radius: 10px;
  transition: 0.4s;
}
.gallery .card:hover {
  box-shadow: none;
}
.gallery .card > .card-body {
  transition: 0.4s;
}
.gallery .card > .card-body > figure {
  position: relative;
}
.gallery .card > .card-body > figure::after {
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.381);
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.4s;
}
.gallery .card > .card-body:hover > figure::after {
  background-color: rgba(0, 0, 0, 0);
}
.gallery .card > .card-body:hover > h3 {
  color: #ed6436;
}
.gallery .card > .card-body > a {
  color: rgba(0, 0, 0, 0.82);
  border: 2px solid black;
  transition: 0.4s;
}
.gallery .card > .card-body > a:hover {
  animation: pulse 0.7s linear infinite;
  letter-spacing: 2px;
  font-weight: bold;
}

.page-7 > div > h1 {
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 55px;
}
.page-7 > div > h1 > span {
  color: #ed6436;
}
.page-7 > .accordion > .accordion-item button {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  color: rgb(20, 20, 63);
  border: 2px solid rgb(20, 20, 63);
}
.page-7 > .accordion > .accordion-item > .accordion-collapse > .accordion-body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7176470588);
}

.page-8 span {
  margin-right: 10px;
}
.page-8 .box:nth-of-type(1),
.page-8 .box:nth-of-type(2) {
  border-right: 3px solid black;
}
@media screen and (max-width: 992px) {
  .page-8 .box:nth-of-type(1),
  .page-8 .box:nth-of-type(2) {
    border: none;
  }
}
.page-8 .box > h2 {
  color: #ed6436;
  margin-bottom: 30px;
}
.page-8 .box > h4 {
  transition: 0.3s;
}
.page-8 .box > h4:hover {
  transform: scale(1.1);
}

.page-9 .box {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.0549019608);
  width: 350px;
  height: 550px;
  align-self: flex-end;
}
.page-9 .box h6 {
  color: #ed6436;
  margin-top: 15px;
}
.page-9 .box h2 {
  font-size: 50px;
  text-transform: capitalize;
  margin-top: 15px;
}
.page-9 .box h5 {
  display: flex;
  justify-content: space-between;
  align-items: start;
  text-transform: capitalize;
  margin-top: 15px;
}
.page-9 .box h3 {
  font-size: 50px;
  margin-top: 25px;
}
.page-9 .box h3 > span {
  font-size: 20px;
}
.page-9 .box:nth-of-type(2) {
  width: 400px;
  height: 600px;
  align-self: flex-start;
  background-color: #ed6436;
  color: white;
}
.page-9 .box:nth-of-type(2) > h3 {
  padding-top: 60px;
  font-size: 60px;
}
.page-9 .box:nth-of-type(2) h2 {
  font-size: 60px;
}
.page-9 .box:nth-of-type(2) h6 {
  color: white;
}

.page-10 > .row > div > .row h3 {
  color: #ed6436;
}
.page-10 form {
  border-left: 1px solid rgba(0, 0, 0, 0.285);
  padding-left: 30px;
}
.page-10 form > div > textarea:focus {
  outline: none;
}
.page-10 form > div > input {
  color: rgb(20, 20, 63);
}
.page-10 form > div > button {
  width: 100px;
  height: 40px;
  background-color: #ed6436;
  font-size: 20px;
  color: white;
  position: relative;
  overflow: hidden;
}
.page-10 form > div > button::after {
  background: linear-gradient(120deg, rgba(145, 145, 145, 0.292) 30%, rgba(196, 196, 196, 0.432) 50%, rgba(215, 215, 215, 0.397) 80%);
  animation: shimmer 1s linear infinite;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-11 h2 {
  color: #ed6436;
}

footer > .row > .box {
  border-bottom: 1px solid black;
  margin: 10px;
  padding: 20px;
}
footer > .row > .box:nth-of-type(3) {
  border-bottom: none;
}
footer > .row > .box > h3 {
  color: #ed6436;
}
footer > .row > .box > span {
  transition: 0.4s;
}
footer > .row > .box > span:hover {
  color: #ed6436;
}
footer > .row > .box > .email > a, footer > .row > .box > .subscribe > a {
  border: 2px solid #ed6436;
  border-radius: 20px;
  border-top-right-radius: 0;
  justify-content: center;
  height: 45px;
  font-size: 20px;
  align-items: center;
  color: white;
  background-color: #ed6436;
  transition: 0.4s;
}
footer > .row > .box > .email > a:hover, footer > .row > .box > .subscribe > a:hover {
  background-color: transparent;
  color: black;
}

.foot {
  height: 70px;
  background-color: #ed6436;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 rgba(237, 100, 54, 0);
  }
  50% {
    box-shadow: 0 0 0 15px #000000;
  }
  100% {
    box-shadow: 0 0 0 rgba(237, 100, 54, 0);
  }
}
@keyframes shimmer {
  from {
    transform: translateX(-230%);
  }
  to {
    transform: translateX(230%);
  }
}/*# sourceMappingURL=master.css.map */